[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.2.22"
django-ckeditor = "*"
pillow = "*"
django-notifications-hq = "*"

[requires]
python_version = "3.6"
