* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 70px!important;
}

ul {
    list-style-type: none;
}

ul.navbar-right {
    margin-right: 0;
}


div.footer {
    margin-top: 3em;
    background-color: #eee;
    color: #555;
}

.page-bottom{
    position:absolute;  /*或者fixed*/
    bottom:0;
    width: 100%;
    background: #e7e7e7;
    margin-top: 2.5em;
    padding: 1em 0 0;
    color: #777;
}


div.website-info .copyright{
    text-align: center;
    padding: 0.5em 0;
    margin-top: 1.5em;
    background: #4F5893;
    color: #e7e7e7;
}

div.website-info .title {
    color: #424242;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    padding-bottom: 7px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.unread-count {
    background-color: #d9534f!important;
}
